.current-temperature-component {
	display: flex;
	align-items: center;
	padding: 0 40px;
	/*width: calc(50% - 2px);
	padding: 20px;
	justify-content: space-between;*/
}

.current-temperature-component__icon {
	width: 200px;
}

.current-temperature-component__temp {
	margin-left: 20px;
}

.current-temperature-component__temp h1 {
	font-size: 90px;
	font-weight: 300;
}

.current-temperature-component__temp p {
	font-size: 20px;
}

@media screen and (max-width: 768px) {
	.current-temperature-component {
		padding: 0 0 10px;
	}
}

@media screen and (max-width: 370px) {
	.current-temperature-component__temp {
		margin-left: 10px;
	}

	.current-temperature-component__icon {
		width: 150px;
	}

	.current-temperature-component__temp h1 {
		font-size: 60px;
	}
}