.current-weather-props-component {
	padding: 0 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
}

.current-weather-props-component__item h2 {
	font-size: 30px;
	font-weight: 300;
}

.current-weather-props-component__item p {
	font-weight: 300;
}

@media screen and (max-width: 768px) {
	.current-weather-props-component {
		padding: 25px 0 0;
	}
}

@media screen and (max-width: 350px) {
	.current-weather-props-component {
		grid-gap: 30px 25px;
	}
}